/* Estilos personalizados */

body {
    background-color: #f8f9fa; /* Define a cor de fundo do corpo */
    font-family: Arial, sans-serif; /* Define uma fonte genérica para o corpo */
    margin-bottom: 100px; /* Adiciona espaço para o rodapé */
}

header {
    padding: 20px 0; /* Aumenta o espaçamento interno do cabeçalho */
}

.navbar-brand {
    font-size: 1.5rem; /* Aumenta o tamanho da fonte do logotipo */
}

.navbar-nav .nav-link {
    font-weight: bold; /* Define a fonte como negrito para os links do navbar */
}

main {
    background-color: #fff; /* Altera a cor de fundo da seção principal */
    padding: 20px; /* Ajusta o espaçamento interno da seção principal */
    margin-top: 20px; /* Adiciona margem superior */
    border-radius: 10px; /* Adiciona borda arredondada */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

footer {
    background-color: #343a40; /* Altera a cor de fundo do rodapé */
    color: #fff; /* Define a cor do texto no rodapé como branco */
    padding: 20px 0; /* Aumenta o espaçamento interno do rodapé */
    position: fixed; /* Fixa o rodapé na parte inferior da janela */
    bottom: 0; /* Alinha o rodapé na parte inferior */
    width: 100%; /* Define a largura do rodapé como 100% */
    z-index: 1000; /* Define um índice z alto para garantir que o rodapé fique sobreposto a outros elementos */
}
